<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Wonderland</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >

<div id="main-div"style="background-image: url(/static/images/home/tree.jpg);background-size: cover;background-position: center" >
      <a  href="/home/" style="text-decoration:none">
    <span id="main-title" style="color: white;" class="navbar-brand">WonderLand</span>
      </a>

        <br><br><br>
<h3 style="color: white;font-family: 'Trade Winds';text-align:center">ABOUT WONDERLAND</h3><hr/>
</div>

<div style="margin: auto;width: 60%">
    <div style="margin-top:10px;">
    <h5 style="font-family: 'Trade Winds';">
    Introduction:<br></h5>
        <div style="margin-left:100px;width: 80%;">
            <p>
                Wonderland is a website to introduce wonders on the EARTH.<br><br>
                If you're an adventurer, you love to see wonders,
                and you happen to be in a new environment, but you're unfamiliar with your surroundings and don't know how to plan your vacation.
                Well, our website is a great place to find some wonders that you can search by continent, or by keyword.
                Our website also offers ratings and ratings for each spectacle, so you can choose the most interesting one.
                At the same time, we put a map function in the interface of each spectacle, so that users can see the specific location and plan the route.<br><br>
                For unregistered users, you can only browse the website.
                For registered users, you can modify your personal information, you can comment on wonders.
            </p>
        </div>
    </div>
</div>

<div style="margin: auto;width: 60%">
    <div style="margin-top:10px;">
    <h5 style="font-family: 'Trade Winds';">
    Group Members:<br></h5>
        <div style="margin-left:100px;width: 80%;">
            <div style="width: 49% ;float: left ">
                Yunxu Yang<br>Feng Qiu<br>Xiaotong Wang<br>Yu Li
            </div>
            <div style="width: 49% ;float: right">
            2479926Y<br>2452172Q<br>2433797W<br>2442176L<br>
            </div>
        </div>
    </div>
</div>

<div style="margin: auto;width: 60%">
    <div style="margin-top:10px;">
    <h5 style="font-family: 'Trade Winds';">
    Contributions:<br></h5>
       <div style="margin-left:100px;width: 50%">
        <p>
            Our website contains 13 sites.
        </p>
        <div style="width: 49% ;float: left ">
Yunxu Yang<br>Feng Qiu<br>Xiaotong Wang<br>Yu Li
        </div>
        <div style="width: 49% ;float: right">
            /thebestwonders,/searchpage<br>
            /signup,/login,/changepwa,/myaccount</br>
            /category,/page,/category_select<br>
            /home,/about,/cantact,/faq
        </div>
       </div>
    </div>
</div>

<div style="margin: auto;width: 60%">
    <div style="margin-top:10px;">
    <h5 style="font-family: 'Trade Winds';">
    Thanks for using!<br></h5>
    </div>
</div>


<hr>
<div id="bottom-div">
        <span><a class="bottom-title" href="/home/faq/" class="link-style">Q&A</a>
            <a  class="bottom-title" href="/home/contact/" style="margin-left: 50px;">Contact us</a> </span>

</div>
</body>
</html>