<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Wonderland</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >

<div id="main-div"style="background-image: url(/static/images/home/ice.jpg);background-size: cover;" >
      <a  href="/home/" style="text-decoration:none">
    <span id="main-title" style="color: white;">WonderLand</span>
      </a>

        <br><br><br>
<h3 style="color: #d2d2d2;font-family: 'Trade Winds';text-align:center">ABOUT WONDERLAND</h3><hr/>
</div>

<div >

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<hr/>
<div id="bottom-div">
        <span><a class="bottom-title" href="/home/faq/" class="link-style">Q&A</a>
            <a  class="bottom-title" href="/home/contact/" style="margin-left: 50px;">Contact us</a> </span>
</div>
</body>
</html>