<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >
<div id="main-div"style="background-image: url(/static/images/home/tree.jpg);background-size: cover;background-position: center ">
    <a  href="/home/" style="text-decoration:none;">
    <span id="main-title" style="color: white;" class="navbar-brand">WonderLand</span>
    </a>
  <br><br><br>
    <h3 style="color: white;font-family: 'Trade Winds';text-align:center">Contact us</h3><hr/>
</div>

<div>
<br>
    <h5 style="text-align: center">For the FAQs for our websites, please visit&nbsp;
        <a class="bottom-title" href="/home/faq/">FAQ</a><br>
        <br>If you have any problems or suggestions, please send an email to <a href="mailto:2442176l@student.gla.ac.uk">
        2442176l@student.gla.ac.uk
    </a>.<br><br>We will try our best to meet the needs of each user!</h5><br>
<img src="{% static 'images/home/thanks.jpg' %}" style="width: 900px;height: 500px">
</div>
<hr>
<div id="bottom-div">
        <span>
            <a class="bottom-title" href="/home/about/" class="link-style">About</a>
            <a  class="bottom-title " href="/home/faq/" style="margin-left: 50px;">FAQ</a> </span>
</div>
</body>
</html>