<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact us</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-image: url(/static/images/home/ice-1.jpg);background-size: cover;">
<div id="main-div">
    <span id="main-title">WonderLand</span>
    <span id="link-title-1" style="float: right; margin-right: 30px; margin-top: 30px;">
        <a href="/home/" class="link-style"> Main </a>&nbsp;&nbsp;
        <a href="/home/about/" class="link-style">About</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/home/faq/" class="link-style">Q&A</a></span>
</div>
<hr/>
<div>
    <h2 style="margin-left:45%">Contact us</h2><br>
    <h5 style="margin-left: 10%">If you have any problems, please send an email to 2442176l@student.gla.ac.uk</h5>
</div>
</body>
</html>