<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F&Q</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body >
<div id="main-div"style="background-image: url(/static/images/home/tree.jpg);background-size: cover;background-position: center">
      <a  href="/home/" style="text-decoration:none">
    <span id="main-title" style="color: white;" class="navbar-brand">WonderLand</span>
      </a>
<br><br><br>
    <h3 style="color: white;font-family: 'Trade Winds';text-align:center">FAQ</h3><hr/>
</div>

<div style="width: 60%;margin: auto" >
<hr>
    <p>
        Q: What's WonderLand?<br>
        A: Wonderland is a website that combines the wonders of the earth. Whether you are at home or on the road to explore, you only need the Internet to get information about the wonders through this website.
    <hr>
        Q: Are these wonders real exist?<br>
        A: Of course.
    <hr>
        Q: Can I walk to each wonders?<br>
        A: Of course you CAN! Please choose your favorite method！
    <hr>
        Q: Why this website only have wonders on the earth?<br>
        A: We are collecting data on the wonders of other planets.
    <hr>
        Q: Why this website only have wonders on the earth?<br>
        A: We are collecting data on the wonders of other planets.
    <hr>
        Q: Are these places free？<br>
        A: Some of them are free, but others require a ticket to visit.


</p>
</div>

<hr/>
<div id="bottom-div">

        <span>
            <a class="bottom-title " href="/home/about/" class="link-style">About</a>
            <a  class="bottom-title" href="/home/contact/" style="margin-left: 50px;">Contact us</a> </span>
</div>
</body>
</html>