<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html" >
<head>
    <meta charset="UTF-8">
    <title>Wonderland</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background-image: url(/static/images/home/ice-1.jpg);background-size: cover;">

<div id="main-div" >

  <b>
      <a  href="/home/" style="color: black; font-family:'Lucida Console', Monaco, monospace" >
       <span id="main-title" class="navbar-brand" >WonderLand</span>
   </a>
  </b>

    <span id="link-title-1"> <a href="/category/category/all/" class="link-style"> ALL </a></span>
    <span id="link-title-2">  <a href="/home/about/" class="link-style">About</a></span>
    <span id="link-title-3" ><a href="/home/faq/" class="link-style">Q&A</a></span>

        <span id="button-span">
            {% if user.is_authenticated %}
            <span>User: {{ user.username }}</span>
            <a href="{% url 'myaccount:logout' %}">
                <button class="btn btn-outline-secondary"> Logout</button>
            </a>
            {% else %}
<!--            <a href="/myaccount/signup/">-->
            <a href="{% url 'myaccount:signup' %}">
               <button class=" btn btn-outline-secondary mr-1" >Sign up</button>
            </a>
            <a href="/myaccount/login/">
            <button class="btn btn-outline-secondary">Log in</button>
            </a>
            {% endif %}
        </span>

</div>
<hr/>
    <div id="pic-div" >
        <img class="img-slide "src="{% static 'images/places/stonehenge.jpg' %}"
         alt="Picture of Stonehenge" />
        <img class="img-slide change-pic" src="{% static 'images/places/Colosseum.jpg' %}"
         alt="Picture of Colosseum" />
        <img class="img-slide change-pic" src="{% static 'images/places/Egyptian-pyramids.jpg' %}"
         alt="Picture of Egyptian-pyramids" />
        <img class="img-slide change-pic" src="{% static 'images/places/Chichen-Itza.jpg' %}"
         alt="Picture of Chichen-Itza" />
        <img class="img-slide change-pic" src="{% static 'images/places/Alhambra.jpg' %}"
         alt="Picture of Alhambra" />

        </br>

    </div>
    <div id="category-div">
    <span class="category-span"> IT'S TIME TO EXPLORE </span>
        <span style="margin-left: 30%"><a href="/category/categories/" style="color: dimgrey">More</a></span>
        </br></br>
<!--    <span class="category-span"> Category</span></br></br>-->
        <a href="category/category/asia">
                <button class="btn btn-outline-secondary " style="margin-left: 20%"> Asia</button>
        </a>
        <a href="category/category/europe">
                <button class="btn btn-outline-secondary" style="margin-left: 20px;">Europe</button>
        </a>
        </br></br>
<!--    <span class="category-span"> Category</span></br>-->

    </div>

    <div id="recommended-div">
        <span class="category-span"> THE BEST WONDERS </span>
        <span style="margin-left: 31%"><a href="/search/thebestwonders/" style="color: dimgrey">More</a></span></br>
        <button style="margin-left: 20%">1</button>
        <button style="margin-left: 20px">2</button>
        </br></br>
    </div>
<hr/>
<div id="bottom-div"  >
<!--    <img src="{% static 'images/home/background.jpg' %}">-->

        <span id="bottom-span"><a style="color: white" href="/home/contact/">Contact us</a> </span>


</div>


</body>
<script type="text/javascript">
    var index=0;

    function ChangeImg() {
        index++;
        var a=document.getElementsByClassName("img-slide");
        if(index>=a.length) index=0;
        for(var i=0;i<a.length;i++){
            a[i].style.display='none';
        }
        a[index].style.display='block';
    }

    setInterval(ChangeImg,2000);
</script>
</html>
