{% extends 'category/base.html' %}
{% load staticfiles %}

{% block title_block %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    <title>{{ category }}</title>
{% endblock %}

{% block body_block%}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container">
        <a class="navbar-brand text-white" href="{% url 'home:index' %}" style="font-family: 'Trade Winds'">WONDERLAND</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto pt-4">
                {% if user.is_authenticated %}
                  <a id="user" class="btn btn-outline-light mr-2" href="{% url 'myaccount:myaccount' %}">{{ user.username }}</a>
                {% else %}
                  <a class="btn btn-outline-light mr-2" href="{% url 'myaccount:signup' %}">Sign up</a>
                  <a class="btn btn-outline-light" href="{% url 'myaccount:login' %}">Login</a>
                {% endif %} 
            </ul>
        </div>
      </div>
    </nav>
    <header class="continent" style="background-image: url({% static bkg %}); background-position: center; position: relative;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading text-center">
                        <h1 id="wonder" style="font-family: 'Trade Winds'">{{page.name}}</h1>
                        <span class="subheading" style="font-size: 1rem">Average Rate</span>
                        <span class="subheading" style="font-family: 'Trade Winds'">{{ page.rate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="page-content rounded p-4 text-justify shadow">
            <div>
                <span></span>
                <p>{{ page.intro }}</p>
            </div>
        </div>
        <div class="mt-4 text-center">
            <span>The Location</span>
            <div class="shadow rounded mt-3" id="map"></div>
        </div>
        <div class="rate mt-5 mb-5">
            {% if not user.is_authenticated %}
            <span class="d-block mb-5 text-center">Login First to Give Your Rate and Comment ! </span>
            {% elif rate == "no" %}
            <span class="d-block mb-5 text-center">Give Your Rate Here! </span>
            {% else %}
            <span class="d-block mb-5 text-center">You have rate the wonder as {{ rate }} ! </span>
            {% endif %}
            {% if user.is_authenticated %}
            <div id="rate-box" data-rate={{ rate }} class="mt-2">
                <select id="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
            </div>
            {% endif %}
        </div>
        <div>
            <span class="d-block text-center mt-3">Here are some Comments from Other Travellers!</span>
            <div class="px-5 pb-5">
                {% for comment in comments %}
                <div class="comment shadow rounded px-4 pt-3 pb-1 mt-3 border-bottom border-left border-right border-top">
                    <div class="commenter d-flex flex-row">
                        {% if comment.user.picture == "" %}
                        <img class="rounded-circle" src="{% static 'images/avatar.png' %}">
                        {% else %}
                        <img class="rounded-circle" src="{{ MEDIA_URL }}{{ comment.user.picture }}">
                        {% endif %}
                        <div class="d-flex flex-column ml-3">
                            <span>{{ comment.user.user.username}}</span>
                            <span>{{ comment.date }}</span>
                        </div>
                        <div class="d-flex flex-column ml-auto">
                            <span style="font-family: 'Trade Winds';font-size: 0.5rem;;">Commentor's rate</span>
                            <span class="text-right" style="font-family: 'Trade Winds';font-size: 1.5rem;color: #D55754;">{{ comment.rate }}</span>
                        </div>
                    </div>
                    <p class="comment-text mt-1 text-justify">
                        {{ comment.comment }}
                    </p>
                </div>
                {% endfor %}

            {#    end for#}
            </div>
            <div class="placeholder"></div>
        </div>
    </div>
{#    bottom input #}
    {% if  user.is_authenticated %}
    <div class="fixed-bottom comment-box container">
        <div class="comment-btn text-center mb-3">
            <div class="comment-btn-bkg mx-auto">
                <i style="color: white" class="fa fa-pencil"></i>
            </div>
        </div>
        <div class="input-group mb-3">
          <input id="commentBox" type="text" class="form-control" placeholder="Leave your comment here!" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button id="submitComment" class="btn btn-outline-secondary" type="button">
            <i class="fa fa-check"></i></button>
          </div>
        </div>
    </div>
    {% endif %}


    <script src="{% static 'jquery.barrating.min.js' %}"></script>
    <script src="{% static 'page.js' %}"></script>

    <script>
    // Initialize and add the map

        function initMap() {
          // The location of Stonehenge
            var uluru = {lat: 51.178969, lng: -1.826215};
          // The map, centered at Stonehenge
            var location = 0;
            var geocoder = new google.maps.Geocoder();
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13});
            geocoder.geocode({'address':'{{ page.name }}'},function (results, status) {
                location = results[0].geometry.location;
                map.setCenter(location);
            });
          {#var marker = new google.maps.Marker({position: uluru, map: map});#}
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnDoxjCZgNymxhz0-pTTnX3Cuq7c1Jq-U&callback=initMap">
    </script>

{% endblock %}