<!DOCTYPE>
{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_block %}
            {% endblock %}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    </head>
    <body style="background-image:url(/static/images/myaccount/base_background.jpg);background-size: cover">
    <div class="text-right mt-3 mr-4">
        <a class="navbar-brand text-white " href="{% url 'home:index' %}" style="font-family: 'Trade Winds'">WONDERLAND</a>
        {% if user.is_authenticated %}
        <div style="display:inline">
            <a href="{% url 'myaccount:logout' %}"><button class="btn btn-light">Logout</button></a>
        </div>
        <div style="display:inline">
            <a href="{% url 'myaccount:myaccount' %}"><button class="btn btn-light">Myaccount</button></a>
        </div>
        {% else %}
        <div style="display:inline">
            <a href="{% url 'myaccount:signup' %}"><button class="btn btn-light">Sign Up</button></a>
        </div>
        <div style="display:inline">
            <a href="{% url 'myaccount:login' %}"><button class="btn btn-light">Login</button></a>
        </div>
        {% endif %}
    </div>

    <div class="d-flex flex-column align-items-center pt-5 pb-5 mt-5 rounded shadow-lg" style="width:60%;margin: auto;background-color: rgba(255,255,255,0.9)">
        {% block body_block %}
        {% endblock %}
    </div>

    </body>
</html>