{% extends 'myaccount/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Change Password
{% endblock %}

{% block body_block %}
<div class="mb-5">
    <h1 style="margin-top:30px; font-family: 'Trade Winds'">Change Your Password</h1>
</div>
<div>
    <form id="changepwd_form" method="post" action="{% url 'myaccount:changepwd' %}">
        {% csrf_token %}
        Oldpassword: <input class="form-control" type="password" name="oldpassword" style="background-color: Transparent;"/>
        <br>
        New password: <input class="form-control" type="password" name="newpassword" style="background-color: Transparent;"/>
        <br>
        Check new password: <input class="form-control" type="password" name="newpassword1" style="background-color: Transparent;"/>
        <br>
        <input type="submit" value="submit" class="btn btn-primary"/>
    </form>
</div>

{% endblock %}
