{% extends 'myaccount/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div>
    <h1 style="margin-left:520px; margin-top:100px">Find Yourself in Wonderland</h1>
</div>
<div style="margin-left:530px; margin-top:100px">
    <div>
        <form id="login_form" method="post" action="{% url 'myaccount:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" style="background-color: Transparent"/>
            <br />
            Password: <input type="password" name="password" value="" size="50" style="margin-top:20px;margin-left:4px; background-color: Transparent"/>
            <br />
            <input type="submit" value="Submit" style="margin-left:200px;margin-top:20px; font-size:20px; background-color: Transparent; border:none; font-weight:bold"/>
        </form>
    </div>

</div>

{% endblock %}
