{% extends 'myaccount/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="mb-5">
    <h1 style="font-family: 'Trade Winds'">Find Yourself in Wonderland</h1>
</div>
<div >
    <div>
        <form id="login_form" method="post" action="{% url 'myaccount:login' %}">
            <div class="form-group">
                {% csrf_token %}
                <label for="username">Username:</label>
                <input class="form-control" id="username" type="text" name="username" value="" size="50" style="background-color: Transparent"/>
                <br />
                <label for="password">Password:</label>
                 <input class="form-control" id="password" type="password" name="password" value="" size="50" style="background-color: Transparent"/>
                <br />
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </div>
        </form>
    </div>

</div>

{% endblock %}
