<!DOCTYPE>
{% load staticfiles %}

<html>
    <head>
        <title>Myaccount</title>
    </head>

    <body>
        <div style="height:7%">
            <div style="display:inline">
                <a href="{% url 'home:index' %}" style="margin-left:50px"><button style="background-color:Transparent; border:none; width:100px; height:50px;font-size:20px; font-weight:bold">MAIN</button></a>
                <a href="{% url 'home:about' %}"><button style="background-color:Transparent; border:none; width:100px; height:50px;font-size:20px; font-weight:bold">ABOUT</button></a>
                <a href="{% url 'home:faq' %}"><button style="background-color:Transparent; border:none; width:100px; height:50px;font-size:20px; font-weight:bold">Q&A</button></a>
            </div>

            <div style="float:right; margin-right: 50px">
                Welcome!<font style="font-style:italic; font-weight:bold">{{ profile.user.username }}</font>
                <a href="{% url 'myaccount:logout' %}"><button style="background-color:Transparent; border:none; width:100px; height:50px;font-size:20px; font-weight:bold">Logout</button></a>
            </div>
        </div>

        <div style="display: table; background-image:url(/static/images/myaccount/myaccount_background.jpg);background-size: cover; width:100%; height:93%">
            <div style="margin-left: 60px; width:20%; display:table-cell; text-align: center;">
                <div style="margin-top: 80px; display:inline-block;">
                    {% if profile.picture %}
                        <img src="{{ MEDIA_URL }}{{ profile.picture }}" alt="avatar" height="100" width="100">
                    {% else %}
                        <img src="{% static 'myaccount/default_avatar.jpg' %}" alt="avatar" height="100" width="100">
                    {% endif %}
                </div><br>

                <div style="margin-top: 10px; display:inline-block;">
                    Last login:
                    {% if lastLogin %}
                        {{ lastLogin }}
                    {% else %}
                        It is your first time to login!
                    {% endif %}
                </div><br>

                <div style="margin-top: 10px; display:inline-block;">
                    Username: {{ profile.user.username }}
                </div><br>

                <div style="margin-top: 10px; display:inline-block;">
                    Email:
                    {% if profile.user.email %}
                        <a href="{{ profile.user.email }}">{{ profile.user.email }}</a>
                    {% else %}
                    {% endif %}
                </div><br>

                <div style="margin-top: 10px; display:inline-block;">
                    {% if profile.personalURL %}
                        <a href="{{ profile.personalURL }}">Personal Website</a>
                    {% else %}
                    {% endif %}
                </div><br>

                <div style="margin-top: 10px; display:inline-block;">
                    <a href="{% url 'myaccount:changepwd' %}"><button>Change Password</button></a>
                </div>
            </div>

            <div style="width:80%">
                <div style="margin-left:150px">
                    <font style="font-weight:bold">Favorites Wonders:</font>
                    <div style="margin-top: 20px">
                        {% if qs2 %}
                        {% for item in qs2%}
                        <div style="display:inline">
                            <img src="{% static 'images/places/{{ item.value.name }}.jpg' %}" alt="{{ item.value.name }}" height="150" width="150">
                            {{ item.value.name }}
                        </div>
                        {% endfor %}
                        {% else %}
                        <div>
                            Let's find some interesting wonders!
                        </div>
                        {% endif %}
                    </div>
                </div><br>

                <div style="margin-top: 40px; margin-left:150px">
                    <font style="font-weight:bold">Recent Comments:</font>
                    <div style="margin-top: 20px">
                        {% if qs1 %}
                        {% for item in qs1 %}
                        <div>
                            Date: {{ item.date }}<br>
                            Comment: {{ item.comment }}
                        </div><br>
                        {% endfor %}
                        {% else %}
                        <div>
                            Seems you don't like sharing opinions...
                        </div>
                        {% endif %}
                    </div>
                </div><br>
            </div>
        </div>
    </body>
</html>