{% extends 'myaccount/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign up
{% endblock %}

{% block body_block %}
<div>
    <h1 style="font-family: 'Trade Winds'">Begin Your Journey</h1>
</div>
{% if registered %}
<div>
    <strong>thank you for registering!</strong>
</div>
{% else %}
<div>
    <strong>register here!</strong><br />
</div>
<div>
    <form class="form-group" id="user_form" method="post" action="{% url 'myaccount:signup' %}"
      enctype="multipart/form-data" >

        {% csrf_token %}
        <div class="fieldWrapper">
            <label for="{{ user_form.subject.id_for_username }}">Username:</label>
            <input class="form-control" id="{{ user_form.subject.id_for_username }}" type="text" name="username" maxlength="150" required style="background-color: Transparent;"/>
            <font style="color:red">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</font>
        </div>
        <div class="fieldWrapper">
            <label for="{{ user_form.subject.id_for_email }}">Email address:</label>
            <input class="form-control" id="{{ user_form.subject.id_for_email }}" type="text" name="email" style="background-color: Transparent;"/>
            <font style="color:red">Not required.</font>
        </div>
        <div class="fieldWrapper">
            <label for="{{ user_form.subject.id_for_password }}">Password:</label>
            <input class="form-control" id="{{ user_form.subject.id_for_password }}" type="password" name="password" style="background-color: Transparent;" />
            <font style="color:red">Required.</font>
        </div>
        <div class="fieldWrapper">
            <label for="{{ profile_form.subject.id_for_personalURL }}">PersonalURL:</label>
            <input class="form-control" id="{{ profile_form.subject.id_for_personalURL }}" type="text" name="personalURL" style="background-color: Transparent;" />
            <font style="color:red">Not required.</font>
        </div>
        <div class="fieldWrapper">
            <label for="{{ profile_form.subject.id_for_picture }}">Picture:</label>
            <input class="form-control" type="file" name="picture" accept="image/*" id="{{ profile_form.subject.id_for_picture }}" style="background-color: Transparent;" >
            <font style="color:red">Not required.</font>
        </div>
        <div class="mx-auto text-center mt-3">
            <button class="btn btn-primary" type="submit" name="submit" value="Begin">Begin</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

