a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 1rem;
}





/*category page*/

header.continent{
	margin-bottom:50px;
	background-color:#868e96;
	background-position: center;
	position:relative;
	background-size:cover;
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
    background: rgba(0,0,0,0.3);
}

header.continent .page-heading{
	padding:120px 0 120px;
	color:white
}

header.continent .page-heading h1{
	font-size:50px;
	margin-top:0
}

header.continent .page-heading .subheading{
	font-size:24px;
	font-weight:300;
	line-height:1.1;
	display:block;
	margin:10px 0 0;
}
.wonder-result{
    width: 90%;
    margin: 0 auto;
}
.col{
    width: 100%;
}
.col img{
    width: 100%;
}
.wonder-card{
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}
.wonder-card:hover{
    transform: translate(0,-5px);
    /*margin-top: -10px;*/
    transition: all 0.5s;
}
.img-box{
	background-position: center;
	background-size: cover;
	height: 250px;
	overflow: hidden;
}
.card-body p{
	text-overflow: ellipsis;
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	/*max-height: 20px;*/
	text-overflow: ellipsis;
	text-align: justify;
}
/*page page*/

.page-content{
	background-color: white;
	margin-top: -80px;
	position: relative;
}
.rate{
	width: 100%;
}
.br-widget a{
	margin-left: 30px;
}
.comment-box{
	width: 100%;
	/*transform: translate(0,100px);*/
	/*transition: all 0.5s;*/
}
.comment-btn i{
	font-size: 1.5rem;
}
.comment-btn-bkg{
	cursor: pointer;
	background-color: black;
	display: inline-block;
	padding: 10px 12px;
	border-radius: 50%;
}

.commenter img{
	width: 50px;
	height: 50px;
}
.placeholder{
	height: 45px;
}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
}