#main-title{
    margin-top: 20px;
    margin-left: 3%;
    font-size:56px;
    font-family: 'Trade Winds'
}
.link-style{
    color: #868e96;
}
#button-span{
margin-top:15px;
margin-right:20px;
float:right;
}

#pic-div{
    width:100%;
    margin-top:20px;
    }
img{
    clear: both;
    display: block;
    margin:auto;
    height:400px;
    width:800px;
    }
.change-pic{
    display: none;
}
#category-div{
width:80%;
margin-left:10%;
margin-top:40px;

}
.category-span{
font-size:24px;
}
#recommended-div{
width:80%;
margin-left:10%;
margin-top:20px;
}
#bottom-div{
    text-align:center;
}
.bottom-title{
    color: dimgrey;
    font-size:20px;
    font-family: 'Trade Winds'
}


