
#main-div{
width:100%;
margin-top:20px;

}

#main-title{

    margin-left: 3%;
    font-size:48px;
    }
#link-title-2{
    margin-left:50px;
    font-size:24px;
    }
#link-title-3{
    margin-left:50px;
    font-size:24px;
    }
#link-title-1{
    margin-left:20%;
    font-size:24px;
    }
.link-style{
    color: #868e96;
}
#button-span{
margin-top:15px;
margin-right:20px;
float:right;
}

#pic-div{
    width:100%;
    margin-top:20px;
    }
img{
    clear: both;
    display: block;
    margin:auto;
    height:400px;
    width:800px;
    }
.change-pic{
    display: none;
}
#category-div{
width:80%;
margin-left:10%;
margin-top:40px;

}
.category-span{
font-size:24px;
}
#recommended-div{
width:80%;
margin-left:10%;
margin-top:20px;

}
#bottom-div{
    width:20%;
    margin: auto;

}

#bottom-span{
margin-left:34%;
font-size:20px;
}